* {
  margin: 0;
  padding: 0;
}
#bloc_page {
  width: 90%;
  margin: auto;
}
body {
  background: rgb(255, 237, 202);
}

header {
  display: flex;
  border: 2px solid;
  position: relative;
}

h1 {
  margin: 10px;
  width: 60%;
}

em {
  font-size: 1.5rem;
  font-weight: 400;
}
nav {
  border: 2px solid;
  width: 50%;
  margin-top: 90px;
}

ul {
  list-style: url(./images/ico_liensexterne.png);
  color: rgb(167, 63, 63);
}

.ul-nav {
  display: flex;
  justify-content: space-around;
}

.ul-nav li {
  list-style: none;
  color: black;
  font-size: 1.6rem;
  text-transform: uppercase;
}

:hover.ul-nav li {
  color: rgb(167, 63, 63);
}

.img-sanfransisco {
  height: 250px;
  width: 100%;
  background: url(./images/sanfrancisco.jpg) no-repeat center/cover;
  margin: auto;
}
section {
  display: flex;
}
article {
  width: 70%;
  border: 2px solid blue;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px;
}

p {
  margin-top: 10px;
}

aside {
  width: 30%;
  border: 2px solid red;
}

h3 {
  text-transform: uppercase;
  font-weight: 200;
}

footer {
  display: flex;
}
.dernier-tweet {
  width: 33%;
  padding: 10px;
  border: 2px solid green;
}
.mes-photos {
  width: 33%;
  padding: 10px;
  border: 2px solid red;
}
.img-footer {
  margin-top: 10px;
}
.mes-amis {
  width: 33%;
  padding: 10px;
  border: 2px solid blueviolet;
}

.list {
  display: flex;
  margin: 10px 0 0 15px;
}
.ul-left {
  width: 50%;
}
.ul-right {
  width: 50%;
}
