@import url("https://fonts.googleapis.com/css2?family=Bentham&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Bentham", serif;
}
#bloc_page {
  width: 90%;
  margin: auto;
}
body {
  background: rgb(255, 237, 202);
}

header {
  display: flex;
  position: relative;
}

h1 {
  margin: 10px 0 0px 50px;
  width: 60%;
  font-family: "Romanesco", cursive;
}

em {
  font-size: 1.5rem;
  font-weight: 400;
}
nav {
  width: 50%;
  margin-top: 90px;
}

ul {
  list-style: url(./images/ico_liensexterne.png);
  color: rgb(167, 63, 63);
}

.ul-nav {
  display: flex;
  justify-content: space-around;
}

.ul-nav li {
  list-style: none;
  color: black;
  font-size: 1.6rem;
  text-transform: uppercase;
}

:hover.ul-nav li {
  color: rgb(167, 63, 63);
  cursor: pointer;
  text-decoration: underline 3px solid rgb(167, 63, 63);
}
.middle-page {
  height: 80vh;
  background: rgb(250, 224, 171);
}

.box-sanfransisco {
  height: 400px;
  width: 90%;
  margin: auto;
}
#img-sanfransisco {
  width: 90%;
  margin: 20px;
  border-radius: 5px;
}
section {
  display: flex;
  height: 400px;
}
article {
  width: 75%;
  margin: 50px 20px;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 10px;
}

p {
  margin: 10px;
  text-align: justify;
}

aside {
  width: 20%;
  height: 400px;
  background: rgb(129, 110, 103);
  border-radius: 5px;
  margin: 20px;
}
h4 {
  text-transform: uppercase;
  color: rgb(223, 209, 209);
  margin: 10px;
  text-align: center;
}
.zozor-img {
  text-align: center;
}
span {
  color: rgb(223, 209, 209);
}
.reseau {
  text-align: center;
  padding: 10px;
}
h3 {
  text-transform: uppercase;
  font-weight: 200;
}

footer {
  display: flex;
}

.separator {
  height: 20px;
  text-align: center;
}
.dernier-tweet {
  width: 33%;
  padding: 10px;
}
.mes-photos {
  width: 33%;
  padding: 10px;
}
.img-footer {
  margin-top: 10px;
}
.mes-amis {
  width: 33%;
  padding: 10px;
}

.list {
  display: flex;
  margin: 10px 0 0 15px;
}
.ul-left {
  width: 50%;
}
.ul-right {
  width: 50%;
}
